<% layout('/layout/boilerplate')%>

<style>
    h1{
        margin-top: 10px;
        text-align: center;
    }
    .row{
        margin-top: 2%;
        margin-bottom: 4%;
        margin-left: 6%;
        margin-right: 6%;
    }
</style>

<div class="row">
    <h1>New Campground</h1>
<div class="col-6 offset-3">
    <form action="/campgrounds" method="post" novalidate class="Validate_form"  enctype="multipart/form-data">
        <div class="title ">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>
        <div class="valid-feedback">
            Looks good
        </div>
        <div class="invalid-feedback">
            Please Choose the title
        </div>
    </div>
    <div class="location mt-4">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="location" id="location" required>
        <div class="valid-feedback"> 
            Looks good
        </div>
        <div class="invalid-feedback">
            Please Enter the location
        </div>
    </div>
     
    <div class="image mt-4" >
        <div class=" mt-4">
            <label for="formFileMultiple" class="form-label mb-2">Please upload the image</label>
            <input class="form-control mt-2" type="file" name="image" id="formFileMultiple" multiple>
          </div>
    

    <label for="price"  class="mt-4">Camping Price</label>
  <div class="input-group ">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" id="price" name="price" aria-label="Amount (to the nearest dollar)"  required>
    <span class="input-group-text">.00</span>
    <div class="valid-feedback">
        Looks good
    </div>
    <div class="invalid-feedback">
        Please Enter the Price
    </div>     
</div>
    
    <div class="details mt-4">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="description" cols="20" rows="5" required></textarea>
        <div class="valid-feedback">
            Looks good
        </div>    
        <div class="invalid-feedback">
            Enter the description
        </div>
    </div>
    <div class="url mt-4 mb-4">
        <button class="btn btn-primary">Add Campground</button>
    </div>
    <a href="/campgrounds">All Campgrounds</a>
    </form>
</div>
</div>

